<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" version="4.0">
  <display-name>TelcoEmployeeWEB</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  
  	<servlet>
		<servlet-name>servlet.CreateFixedInternet</servlet-name>
		<servlet-class>servlet.CreateFixedInternet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>servlet.CreateMobileInternet</servlet-name>
		<servlet-class>servlet.CreateMobileInternet</servlet-class>
	</servlet>
  	<servlet>
		<servlet-name>servlet.CreateMobilePhone</servlet-name>
		<servlet-class>servlet.CreateMobilePhone</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>servlet.CreateOptionalProduct</servlet-name>
		<servlet-class>servlet.CreateOptionalProduct</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>servlet.CreatePackage</servlet-name>
		<servlet-class>servlet.CreatePackage</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>servlet.DetailServicePackage</servlet-name>
		<servlet-class>servlet.DetailServicePackage</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>servlet.Homepage</servlet-name>
		<servlet-class>servlet.Homepage</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>servlet.Login</servlet-name>
		<servlet-class>servlet.Login</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>servlet.Logout</servlet-name>
		<servlet-class>servlet.Logout</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>servlet.SalesReport</servlet-name>
		<servlet-class>servlet.SalesReport</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>servlet.ViewPackage</servlet-name>
		<servlet-class>servlet.ViewPackage</servlet-class>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>servlet.CreateFixedInternet</servlet-name>
		<url-pattern>/CreateFixedInternet.do</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>servlet.CreateMobileInternet</servlet-name>
		<url-pattern>/CreateMobileInternet.do</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>servlet.CreateMobilePhone</servlet-name>
		<url-pattern>/CreateMobilePhone.do</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>servlet.CreateOptionalProduct</servlet-name>
		<url-pattern>/CreateOptionalProduct.do</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>servlet.CreatePackage</servlet-name>
		<url-pattern>/CreatePackage.do</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>servlet.DetailServicePackage</servlet-name>
		<url-pattern>/DetailServicePackage.do</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>servlet.Homepage</servlet-name>
		<url-pattern>/Homepage.do</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>servlet.Login</servlet-name>
		<url-pattern>/Login.do</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>servlet.Logout</servlet-name>
		<url-pattern>/Logout.do</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>servlet.SalesReport</servlet-name>
		<url-pattern>/SalesReport.do</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>servlet.ViewPackage</servlet-name>
		<url-pattern>/ViewPackage.do</url-pattern>
	</servlet-mapping>
</web-app>