<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" version="4.0">
  <display-name>TelcoConsumerWEB</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
  </welcome-file-list>
  
  <servlet>
    <servlet-name>servlet.BuyService</servlet-name>
    <servlet-class>servlet.BuyService</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>servlet.Confirmation</servlet-name>
    <servlet-class>servlet.Confirmation</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>servlet.DetailServicePackage</servlet-name>
    <servlet-class>servlet.DetailServicePackage</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>servlet.Homepage</servlet-name>
    <servlet-class>servlet.Homepage</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>servlet.LogIn</servlet-name>
    <servlet-class>servlet.LogIn</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>servlet.Logout</servlet-name>
    <servlet-class>servlet.Logout</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>servlet.OrderPack</servlet-name>
    <servlet-class>servlet.OrderPack</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>servlet.ServiceType</servlet-name>
    <servlet-class>servlet.ServiceType</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>servlet.SignUp</servlet-name>
    <servlet-class>servlet.SignUp</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>servlet.RetryPurchase</servlet-name>
    <servlet-class>servlet.RetryPurchase</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>servlet.PurchasedOrders</servlet-name>
    <servlet-class>servlet.PurchasedOrders</servlet-class>
  </servlet>
  
  
  <servlet-mapping>
    <servlet-name>servlet.BuyService</servlet-name>
    <url-pattern>/BuyService.do</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>servlet.Confirmation</servlet-name>
    <url-pattern>/Confirmation.do</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>servlet.DetailServicePackage</servlet-name>
    <url-pattern>/DetailServicePackage.do</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>servlet.Homepage</servlet-name>
    <url-pattern>/Homepage.do</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>servlet.LogIn</servlet-name>
    <url-pattern>/loginUser.do</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>servlet.Logout</servlet-name>
    <url-pattern>/Logout.do</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>servlet.OrderPack</servlet-name>
    <url-pattern>/OrderPack.do</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>servlet.ServiceType</servlet-name>
    <url-pattern>/ServiceType.do</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>servlet.SignUp</servlet-name>
    <url-pattern>/signupUser.do</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>servlet.RetryPurchase</servlet-name>
    <url-pattern>/RetryPurchase.do</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>servlet.PurchasedOrders</servlet-name>
    <url-pattern>/PurchasedOrders.do</url-pattern>
  </servlet-mapping>

</web-app>